In [1]:
import configparser
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
inifile = configparser.ConfigParser()
inifile.read('../config.ini')
df_wine = pd.read_csv(
    inifile.get('url', 'wine'), header=None)
df_wine.columns = ['Class label', 'Alcohol', 'Malic acid', 'Ash', 'Alcalinity of ash', 'Magnesium', 'Total phenols', 'Flavanoids', 'Nonflavanoids phenols', 'Proanthocyanins', 'Color intensity', 'Hue', 'OD280/OD315 of diluted wines', 'Proline']
X, y = df_wine.iloc[:, 1:].values, df_wine.iloc[:, 0].values
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

In [2]:
from sklearn.preprocessing import MinMaxScaler, StandardScaler

In [3]:
mms = MinMaxScaler()

In [4]:
X_train_norm = mms.fit_transform(X_train)

In [5]:
X_test_norm = mms.transform(X_test)

In [6]:
pd.DataFrame(X_train_norm).head()

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.720430,0.203782,0.537634,0.309278,0.336957,0.543165,0.737003,0.250000,0.401899,0.240688,0.487179,1.000000,0.585425
1,0.319892,0.084034,0.311828,0.432990,0.239130,0.453237,0.480122,0.480769,0.525316,0.135626,0.273504,0.641026,0.000000
2,0.602151,0.712185,0.483871,0.484536,0.543478,0.176259,0.067278,0.557692,0.294304,0.851958,0.042735,0.106227,0.423482
3,0.572581,0.563025,0.424731,0.536082,0.347826,0.143885,0.024465,0.557692,0.278481,0.259790,0.051282,0.150183,0.419433
4,0.760753,0.130252,0.704301,0.742268,0.173913,0.665468,0.730887,0.134615,0.458861,0.200573,0.700855,0.692308,0.079352

In [7]:
pd.DataFrame(X_test_norm).head()

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.728495,0.163866,0.478495,0.298969,0.521739,0.539568,0.743119,0.134615,0.379747,0.436485,0.324786,0.706960,0.605668
1,0.473118,0.373950,0.602151,0.587629,0.456522,0.136691,0.272171,0.192308,0.265823,0.909265,-0.051282,0.073260,0.136032
2,0.360215,0.050420,0.430108,0.432990,0.184783,0.863309,0.804281,0.096154,0.458861,0.302770,0.581197,0.586081,0.087449
3,0.680108,0.176471,0.591398,0.510309,0.500000,0.669065,0.706422,0.115385,0.642405,0.474690,0.376068,0.644689,0.654251
4,0.543011,1.031513,0.413978,0.561856,0.173913,0.546763,0.666667,0.307692,0.503165,0.126074,0.162393,0.670330,0.055061

In [8]:
stdsc = StandardScaler()

In [9]:
X_train_std = stdsc.fit_transform(X_train)

In [10]:
X_test_std = stdsc.transform(X_test)

In [11]:
pd.DataFrame(X_train_std).head()

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.910831,-0.462599,-0.011426,-0.820679,0.062417,0.588204,0.935654,-0.761914,0.130072,-0.512387,0.657066,1.943545,0.937010
1,-0.956099,-0.966087,-1.537254,-0.147487,-0.554019,0.169986,0.072432,0.207913,0.784626,-0.982107,-0.408595,0.581180,-1.413367
2,0.359522,1.675016,-0.374718,0.133010,1.363782,-1.118128,-1.314889,0.531189,-0.440566,2.220529,-1.559509,-1.448466,0.286837
3,0.221695,1.047864,-0.774340,0.413506,0.130910,-1.268687,-1.458759,0.531189,-0.524483,-0.426984,-1.516883,-1.281645,0.270582
4,1.098777,-0.771758,1.114780,1.535493,-0.964977,1.156982,0.915101,-1.246827,0.432174,-0.691735,1.722727,0.775804,-1.094782

In [12]:
pd.DataFrame(X_test_std).head()

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.948420,-0.630428,-0.411048,-0.876778,1.226796,0.571476,0.956207,-1.246827,0.012588,0.363000,-0.152836,0.831410,1.018282
1,-0.241905,0.252884,0.424525,0.694003,0.815839,-1.302144,-0.626366,-1.004371,-0.591617,2.476740,-2.028400,-1.573581,-0.867221
2,-0.768153,-1.107417,-0.738011,-0.147487,-0.896484,2.077063,1.161736,-1.408465,0.432174,-0.234826,1.125957,0.372655,-1.062273
3,0.722885,-0.577430,0.351866,0.273258,1.089811,1.173711,0.832890,-1.327646,1.405614,0.533807,0.102922,0.595082,1.213334
4,0.083868,3.017650,-0.846998,0.553755,-0.964977,0.604933,0.699296,-0.519457,0.667142,-1.024809,-0.962739,0.692393,-1.192308